

/*
-------IMPORTANT NOTES:---------

Quick definitions to identify elements & data types used in this document:
- Padding = The space between its content and its border
- Margin = Used to define the space around elements
- Float = Places an element on the left or right side of its container


THIS CSS DOCUMENT IS DIVIDED IN SECTIONS:

SECTION 1) HEADER 
SECTION 2) BODY
SECTION 3) SEARCH ENGINE OPTIMIZATION
SECTION 4) ONLINE REPUTATION MANAGEMENT 
SECTION 5) SOCIAL MEDIA MARKETING
SECTION 6) BENEFITS COLUMN
SECTION 7) FOOTER 




/* ---------------- SECTION 1) HEADER ---------------- */


/* HEADER BOX */

.header {
    padding: 50px;
    position: relative;
    border: 20px solid;
    float: left;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 20px;
    text-align: center;
    background-color:  #000000;
}

/* Elements inside the Header - Sort of a Main Menu on top of this page -  / Element "a" = 'Online Reputation Management' and 'Social Media Marketing' ONLY | 'Search Engine Optimization' is NOT here.  */
a {
    color: #fffefe;
    background-color: #000000;
    letter-spacing: 7px;
    text-decoration: none;
    padding-left: 40px;
}

/* HORISEON - MAIN TITLE - TEXT BOX */

.header h1 {
    font-variant-position: super;
    font-size: 200px;
    letter-spacing: 80px;
    color: rgb(246, 239, 253);
    color: #ffffff;
    padding-left: 105px;
}

/*(This script blocks elemets from ajusting when resizing the webpage - Attempt to block elements)*/

<script type="text/javascript">
    var bodyCacheable = true;
    
    var exclusionReason = {"shouldRender":true,"forced":false};
    var ssrInfo = {"renderBodyTime":924,"renderTimeStamp":1639861883368}
</script>

/* HEADER BUTTONS */

/* Search Engine Optimization CLICK Button */
/* Note: This button does not work when clicked. Unable to find the solution here.*/
.header div {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 20px;
}

/* Online Reputation management CLICK Button */
.header div ul {
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 20px;
}

/* Social Media Marketing CLICK Button */
.header div ul li {
    padding:50px;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size:20px;
}


<style>
.link { color: #eee8dd; } /* CSS link color (white) */
.link:hover { color: #a50808; } /* CSS link hover (red) */




/* ---------------- SECTION 2) BODY ---------------- */

/* BOX */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    position: relative;
}

body {
    background-color: #000000;
}

.hero {
    height: 300px;
    width: 100%;
    margin: 0;
    background-image: url("../images/digital-marketing-meeting.jpg");
    position: relative;
}


/* Search Engine Optimization Float*/

.float-right {
    float: right;
}

.content {
    width: 1400px;
    display: inline-block;
    margin-left: 50px;
}



/* ---------------------- SECTION 3) SEARCH ENGINE OPTIMIZATION -----------  HTML: line 29 to 35 */

/* SEARCH ENGINE OPTIMIZATION BOX */
.search-engine-optimization {
    box-sizing: content-box;
    position: relative;
    top: 20px;
    bottom: 20px;
    right: 67px;
    margin-left: 350px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    background-color: #918f8f;
    color: #ffffff;

}


/* SEARCH ENGINE OPTIMIZATION (Title) - TEXT */
.search-engine-optimization h2 {
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
}


/* SEARCH ENGINE OPTIMIZATION - IMAGE */
.search-engine-optimization img {
    position: relative;
    float:none;
    max-height: 693px;
    margin:auto;
}




/* ------------- SECTION 4) ONLINE REPUTATION MANAGEMENT SECTION -------  HTML: line 35 to 42 */

/* ONLINE REPUTATION MANAGEMENT BOX */
.online-reputation-management {
    box-sizing: content-box;
    position: relative;
    top: 20px;
    bottom: 20px;
    right: 67px;
    margin-left: 350px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 36px;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    background-color: #918f8f;
    color: #ffffff;
    
}



/* ONLINE REPUTATION MANAGEMENT FLOAT */
.float-left {
    float: right;
    margin-left: 55px;

}

/* ONLINE REPUTATION MANAGEMENT - TEXT */
.online-reputation-management h2 {
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
}

/* ONLINE REPUTATION MANAGEMENT - IMAGE */

.online-reputation-management img {
    position: relative;
    float:none;
    max-height: 679px;
    margin:auto;
}








/* ------------------ SECTION 5) SOCIAL MEDIA MARKETING SECTION ------ HTML: line 42 to 49 */


/* SOCIAL MEDIA MARKETING BOX */
.social-media-marketing {
    box-sizing: content-box;
    position: relative;
    top: 20px;
    bottom: 20px;
    right: 67px;
    margin-left: 350px;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 36px;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    background-color: #918f8f;
    color: #ffffff;

}

/* SOCIAL MEDIA MARKETING IMAGE */
.social-media-marketing img {
    position: relative;
    float:none;
    max-height: 718px;
    margin:auto;
}


/* SOCIAL MEDIA MARKETING Title - TEXT */
.social-media-marketing h2 {
    padding-bottom: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 60px;
    text-align: center;
}

p {

    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 25px;
    text-align: center;




}



/* -------------------- SECTION 6) BENEFITS COLUMN ------------------- */

/* BENEFETS COLUMN BOX*/

.benefits {
    margin-left: 100px;
    margin-top: 200px;
    position: relative;
    float: right;
    padding: 100px;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    background-color: #ffffff;
}

.benefit-lead {
    padding-top: 150px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.benefit-brand {
    padding-top: 150px;
    margin-bottom: 32px;
    font-size: 25px;
    text-align: center;
    color: #000000;
}

.benefit-cost {
    padding-top: 150px;
    margin-bottom: 32px;
    font-size: 25px;
    text-align: center;
    color: #000000;
}


.benefit-lead h3 { /*Lead Generation (Title) - TEXT */
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}

.benefit-brand h3 {  /*Brand Awareness (Title) - TEXT */
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}

.benefit-cost h3 { /* Cost Management (Title) - TEXT */
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
}

/* BENEFITS COLUMN IMAGES */

.benefit-lead img { /* Lead Generation Image*/ 
    display: block;
    margin: 10px auto;
    max-width: 500px;
}

.benefit-brand img { /* Brand Awareness Image*/ 
    display: block;
    margin: 10px auto;
    max-width: 500px;
}

.benefit-cost img { /* Cost Management Image*/ 
    display: block;
    margin: 10px auto;
    max-width: 500px;
}





/* -------------------- SECTION 7) FOOTER -----------------------*/

/* FOOTER BOX + text:'2019 Horiseon Social Solution Services,Inc.' */
.footer {
    padding: 25px;
    clear: both;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-style: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 4px;
    color: aliceblue;
    background-color: #000000;
}

/* FOOTER TEXT: ' Made with <3 by Horiseon' */
.footer h2 {
    padding-bottom: 30px;
    padding-top:30px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    color: #ffffff;
}



/* FINAL NOTE: Some struggle in organizing this style sheet to make it readable and concise/clear without damaging the code and consequently, the webpage */